.container {
  max-width: 300px;
  padding: 0 2rem;
  margin-bottom: 20px;

  h2 {
    font-size: larger;
    margin-bottom: 20px;

    span {
      color: green;
      margin: 0 0.5rem;
      text-decoration: underline;
    }
  }

  .dates {
    padding-left: 3rem;

    .date {
      position: relative;
      margin-bottom: 10px;

      p {
        color: green;
        margin-bottom: 10px;
      }

      ul {
        position: relative;
        .bloomer {
          color: rgb(192, 192, 192);
        }

        &::before {
          content: " ";
          width: 2px;
          height: 100%;
          background-color: lightgrey;
          display: block;
          position: absolute;
          left: -1.5rem;
        }
      }

      &::before {
        content: " ";
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: lightgrey;
        display: block;
        position: absolute;
        left: -1.9rem;
        top: 6px;
      }
    }

    .date:last-child {
        ul {
          &::before {
            display: none;
          }
        }
      }
  }

  &.red {
    h2 {
      span {
        color: red;
      }
    }

    .date {
      p {
        color: red;
      }
    }
  }
}
